.container {
  max-width: 300px;
  width: 100%;
  padding: 30px;
  text-align: center;
}

.header {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.inputGroup {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-right: 10px;
  color: white;
}

.input {
  width: 80px;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.output {
  font-size: 5rem;
  margin: 20px 0;
  min-height: 100px;
  line-height: 100px;
  font-weight: bold;
  color: white;
}

.button {
  padding: 12px 25px;
  font-size: 18px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.2s;
}