.wikiContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.column {
  display: flex;
  flex-direction: column;
}

.wikiItem {
  text-align: center;
}

.wikiItemTitle {
  font-family: "Josefin Slab", serif;
  font-size: 16pt;
  font-weight: 600;
  color: #623d02;
  cursor: pointer;
}

.wikiHeader {
  text-align: center;
}

.wikiHeaderTitle {
  font-family: "Josefin Slab", serif;
  font-size: 16pt;
  font-weight: 700;
  color: gray;
}